services:
  backend:
    build: ./backend
    container_name: ecommerce_backend
    ports:
      - "3333:3333"
      - "5555:5555"   
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - mysql
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./uploads:/app/uploads
    command: >
      sh -c "until npx prisma migrate deploy; do echo 'waiting for mysql...'; sleep 2; done;
      npx prisma generate;
      npm run dev"

  redis:
    image: redis:7
    container_name: ecommerce_redis
    ports:
      - "6379:6379" 
    volumes:
      - redis_data:/data

  mysql:
    image: mysql:8
    container_name: ecommerce_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerceNode
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  redis_data:
  mysql_data:
